.ListContainer {
  display: list-item;
}

.listWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(107, 187, 187);
  border-radius: 15px;
}

.checkIcon {
  padding-right: 2rem;
}

.listValue {
  padding-right: 8rem;
}
